/out/
Debug/
Release/
/ThirdParty/
/Keygen/build/target
/Keygen/tests/
/Keygen/gyp/tests/*.test
/Keygen/out/
/Keygen/*.user
*.vcxproj*
*.sln
*.suo
*.sdf
*.opensdf
*.opendb
*.VC.db
*.aps
*.xcodeproj
/Win32/
ipch/
.vs/

.DS_Store
._*
.qmake.stash
/Mac/
project.xcworkspace
xcuserdata

parts
prime
stage
*.snap
.snapcraft
/snap/gui/*.png
/snap/gui/*.desktop
/snap/plugins/__pycache__

/Keygen/*.user.*
*.pro.user
/Linux/
/Keygen/Makefile
*.*~
